---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Git"; 
---
<BaseLayout pageTitle={pageTitle}>
        <h1><a href="/git/codeberg">Codeberg</a></h1>
        <h1><a href="/git/gitlab">Gitlab</a></h1>
        <h1><a href="/git/github">Github</a></h1>
</BaseLayout>
<style>
    h1 {
        @apply text-2xl font-bold pb-4
    }
    a {
        @apply underline hover:no-underline
    }
</style>