---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Git repositories"
---
<BaseLayout pageTitle={pageTitle}>
    <p>
        <a href="/git/codeberg">Codeberg</a>
        <a href="/git/gitlab">Gitlab</a>
        <a href="/git/github">Github</a>
    </p>

</BaseLayout>