---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me"; 

const identity = {
	nickname: "Zaluru",
	country: "Poland",
    hobbies: ["Linux", "Music", "Programming"]
}
const skills = ["Linux", "Bash", "Python","JS", "CSS"]

const happy = true;
const finished = false;
const goal = 3;

---
<BaseLayout pageTitle = {pageTitle}>
    <p>WIP</p>
</BaseLayout>
