---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Git repositories"
---
<BaseLayout pageTitle={pageTitle}>
    <p>
        <a href="zaluru.com/codeberg">Codeberg</a>
        <a href="zaluru.com/gitlab">Gitlab</a>
        <a href="zaluru.com/github">Github</a>
    </p>

</BaseLayout>