---
import BaseLayout from '../layouts/BaseLayout.astro';
import WorkInProgress from '../components/WorkInProgress.astro';
const pageTitle = "Videos"
---
<BaseLayout pageTitle={pageTitle}>
    <p>Videos about technology, open source and random stuff, coming soon TM</p>
    <WorkInProgress />
</BaseLayout>