---
import Social from './Social.astro';
---
<footer class="mt-auto">
  <div class="flex flex-col py-5 max-w-6xl mx-auto px-4 font-bold border-t-2 border-stone-900 dark:border-stone-200">
    <div class="flex flex-row">
      <div class="flex flex-col">
        <Social platform="Twitter" username="zaluru"/>
        <Social platform="Github" username="zaluru"/>
        <Social platform="YouTube" username="zaluru"/>
      </div>  
    </div>
    <div class="flex justify-center mx-auto">
      <div class="text-sm">
        <p class="text-center">
          Made with <a href="https://astro.build/" class="underline hover:no-underline">Astro.build</a> and <a href="https://tailwindcss.com/" class="underline hover:no-underline">Tailwind</a>.<br>
          <a href="" class="underline hover:no-underline">Source Code</a> under the <a href="https://gnu.org/licenses/agpl-3.0.html" class="underline hover:no-underline">GNU AGPL</a>.
        </p>
      </div>
    </div>
  </div>
</footer>