---
import Social from './Social.astro';
---
<footer class="mt-auto">
  <slot />
  <div class="flex flex-col py-5 max-w-6xl mx-auto px-4 font-bold border-t-2 border-stone-900 dark:border-stone-200">
    <div class="flex justify-center mx-auto">
      <div class="text-sm">
        <p class="text-center">
          Made with <a href="https://astro.build/" class="underline hover:no-underline">Astro</a> and <a href="https://tailwindcss.com/" class="underline hover:no-underline">Tailwind</a>.<br>
          <a href="https://github.com/zaluru/zaluru.com" class="underline hover:no-underline">Source Code</a>.
        </p>
      </div>
    </div>
  </div>
</footer>