<div class="flex flex-row justify-between items-center text-base max-w-6xl mx-auto px-4 my-10 ">
  <a href="/posts" class="underline hover:no-underline font-bold">Back to posts</a>
  <a href="#top" class="underline hover:no-underline font-bold">Back to top</a>
</div>