---
const { platform, username } = Astro.props;
const social = [
  {href: "https://codeberg.org/zaluru", platform: "Codeberg", label: "codeberg.org/zaluru"},
  {href: "https://gitlab.com/zaluru", platform: "GitLab", label: "gitlab.com/zaluru"},
  {href: "https://github.com/zaluru", platform: "GitHub", label: "github.com/zaluru"},
] 
---
{social.map((item) => 
  <li>
    {item.platform}: <a class="underline hover:no-underline" href={item.href}>{item.label}</a>
  </li>
)}