<div class="text-center flex flex-col py-6">
    <h1 class="text-8xl font-extrabold">Work in progress!</h1>
    <p class="text-4xl pt-6">End of road</p>
    <a href="/" class="text-4xl font-extrabold pt-6 underline hover:no-underline">Return Home</a>
</div>