---
import NavigationBar from '../components/NavigationBar.astro';
import Footer from '../components/Footer.astro';
import "@fontsource/jetbrains-mono"
import Head from '../components/Head.astro';

//import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <Head>
    <title>{pageTitle}</title>
  </Head>
  <body class="flex flex-col min-h-screen
             bg-stone-200 dark:bg-stone-900 
             text-stone-900 dark:text-stone-200 ">

    <NavigationBar />
    <section>
      <article class="py-5 max-w-6xl mx-auto w-full px-4">
        <h1 class="text-2xl font-bold leading-7 sm:truncate sm:text-3xl sm:tracking-tight pb-4">{pageTitle}</h1>
        <slot />
      </article>
    </section>
    <Footer />
  </body>
</html>